extends layout
block content
  h1= title
  form(id='BookForm', action="/resource/books", method="POST")
    div.form-group
      label.bookAttr(for='Book_title') Book title
      input#Book_title(type='text', name='Book_title')
    div.form-group
      label.bookAttr(for='genre') Book genre
      input#genre(type='text', name='genre')
    div.form-group
      label.bookAttr(for='cost') Book cost
      input#cost(type='number', name='cost')
    input(type="submit")
  script.
    document.forms['BookForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    }); 