body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff8800;
}

.bookAttr {
  background-color: rgb(127, 229, 255);
  width: 120px;
  font-family: 'Times New Roman', Times New Roman, Serif;
 }